<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Upload </mat-panel-title>
      <mat-panel-description>
        Faça upload do Currículo no formato PDF
        <mat-icon>attach_file</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Container flexível -->
    <div class="upload-container">
      <mat-form-field appearance="fill" class="upload-input">
        <input
          type="file"
          id="pdfFile"
          (change)="onFileSelected($event)"
          hidden
          #fileInput
        />
        <input
          matInput
          [value]="pdfFile?.name || ''"
          placeholder="Nenhum arquivo selecionado"
          readonly
        />
        <button mat-icon-button matSuffix (click)="fileInput.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="upload()"
        [disabled]="!pdfFile || control_submit_button_upload"
      >
        {{ control_submit_button_upload ? " Enviado" : "Enviar" }}
      </button>
    </div>
  </mat-expansion-panel>
  <!-- fim  upload-->

  <!-- inicio carregar -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Carregar Dados </mat-panel-title>
      <mat-panel-description>
        Carregue os dados para o banco de dados Faiss
        <mat-icon>storage</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="load-container">
      <button
        mat-raised-button
        color="primary"
        (click)="loadData()"
        [disabled]="control_button_load_faiss || !control_submit_button_upload"
        class="load-button"
      >
        {{ control_button_load_faiss ? " Carregado" : "Carregar" }}
      </button>
    </div>
  </mat-expansion-panel>
  <!-- fim carregar -->

  <!-- inicio chat -->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Chat </mat-panel-title>
      <mat-panel-description>
        Converse com o assistente
        <mat-icon>chat</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Container flexível -->
    <div class="chat-container">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Pergunta</mat-label>
        <input
          matInput
          [(ngModel)]="question"
          placeholder="Digite sua pergunta"
        />
      </mat-form-field>

      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Filtro</mat-label>
        <mat-select [(ngModel)]="filter">
          <mat-option value="formacao">Formação</mat-option>
          <mat-option value="experiencia_profissional">Experiência</mat-option>
          <mat-option value="informacoes_pessoais"
            >Informações Pessoais</mat-option
          >
        </mat-select>
      </mat-form-field>

      <button
        mat-raised-button
        color="accent"
        (click)="sendQuestion()"
        [disabled]="!question || !filter"
      >
        Enviar Pergunta
      </button>

      <mat-card class="mt-4" *ngIf="historical.length > 0">
        <mat-card-title>Histórico</mat-card-title>
        <mat-list>
          <mat-list-item *ngFor="let item of historical">
            <strong *ngIf="item.role === 'user'">👤 Você:</strong>
            <strong *ngIf="item.role === 'ia'">🤖 IA:</strong>
            <span class="ms-2">{{ item.content }}</span>
          </mat-list-item>
        </mat-list>
      </mat-card>

    </div>
  </mat-expansion-panel>
  <!-- fim  chat -->

  <!-- fim -->
</mat-accordion>
